*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sofia Sans Condensed;
}

.header {
    min-height: 40px;
    color: white;
    padding: 10px;
}

.lilac {
    background-color: #8287F6;
}

.bluish {
    background-color: #708ED4;
}

.skyBlue {
    background-color: #88C0EB;
}

.darkTurquoise {
    background-color: #70C3D4;
}

.turquoise {
    background-color: #82F6EA;
}

.pageTitle {
    float: left;
}

.userPanel {
    width: 250px;
    float: right;
    margin-top: 9px;
}

#lbtn_cikis {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.sidebar {
    display: block;
    width: 250px;
    height: 700px;
    float: left;
    padding-top: 20px;
}

    .sidebar .menuItem {
        border-bottom: 1px solid #B4BEC9;
        padding: 10px;
    }

        .sidebar .menuItem:hover {
            background-color: #B4BEC9;
        }

    .sidebar a {
        color: #002333;
        text-decoration: none;
    }

.contentContainer {
    min-height: 500px;
    float: left;
    width: 70%;
    padding: 10px;
}
